<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WTE?</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- Bootstrap -->
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

        <!--my Styles-->
        <link href="stylesheets/style.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <div class="container">
        <div class="page-header text-center">
            <h1>
                What to Eat?
            </h1>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="input-group" id="search-area">
                        <input type="text" class="form-control" id="searchbar" placeholder="What restaurant are you at?">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="submit">Eat!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
	        <div class="row form-group" id="butts">
	        	<input class="btn btn-default col-md col-md-offset-2 col-sm" type="button" id="calb" value="Calories">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="fatb" value="Fat">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="chob" value="Cholesterol">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="sodb" value="Sodium">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="carb" value="Carbs">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="fibb" value="Fiber">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="prob" value="Protein">
		        <input class="btn btn-default col-md col-sm col-xs" type="button" id="sugb" value="Sugar">
	        </div>
	        <div class="row" id="insert"></div>
    	</form>
    	<div class="row" id="result">
            <input class="btn btn-default btn-large col-md col-md-offset-4 col-sm col-sm-offset-7" type="button" id="new-search" value="New Search">
            <input class="btn btn-primary col-md col-sm  col-xs" type="button" id="left" value="Left">
            <input class="btn btn-primary col-md col-sm col-xs" type="button" id="right" value="Right">
	    		<table class="table table-striped table-nonfluid" id="data">
	    		</table>


    	</div>

            <!-- <div class="form-group" id="cal">
                <label for="calorie" class="col-sm-5 control-label">Calories</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_calories" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="fat">
                <label for="fat" class="col-sm-5 control-label">Fat</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_total_fat" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="cho">
                <label for="cholesterol" class="col-sm-5 control-label">Cholesterol</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_cholesterol" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="sod">
                <label for="sodium" class="col-sm-5 control-label">Sodium</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_sodium" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="car">
                <label for="carbohydrate" class="col-sm-5 control-label">Carbohydrate</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_total_carbohydrate" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="fib">
                <label for="fiber" class="col-sm-5 control-label">Fiber</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_dietary_fiber" placeholder="To">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="pro">
                <label for="protein" class="col-sm-5 control-label">Protein</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_protein" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>

             <div class="form-group" id="sug">
                <label for="sugars" class="col-sm-5 control-label">Sugar</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="nf_sugars" placeholder="From">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="To">
                </div>
             </div>
        </form>
    </div>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/test.js"></script>

    </body>
</html>