<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WTE?</title>

		<!-- Bootstrap -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

		<!--my Styles-->
		<link href="stylesheets/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

  	<body>

	<div class="container">
		<div class="page-header text-center">
			<h1>
				WTE? <br />
				<small>What to Eat?</small>
			</h1>
		</div>
		<form class="form-horizontal" role="form">
			<div class="form-group">
			  	<div class="col-lg-6 col-lg-offset-3">
   					<div class="input-group">
    					<input type="text" class="form-control">
    					<span class="input-group-btn">
        					<button class="btn btn-default" type="button">Eat!</button>
    					</span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

			<div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Calories</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_calories" placeholder="Enter calorie range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Fat</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_total_fat" placeholder="Enter fat range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Cholesterol</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_cholesterol" placeholder="Enter cholesterol range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Sodium</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_sodium" placeholder="Enter sodium range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Carbohydrate</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_total_carbohydrate" placeholder="Enter carbohydrate range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Fiber</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_dietary_fiber" placeholder="Enter fiber range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Protein</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_protein" placeholder="Enter protein range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>

			 <div class="form-group">
			    <label for="calorie" class="col-sm-4 control-label">Sugar</label>
			    <div class="col-sm-3">
			        <input type="text" class="form-control" id="nf_sugars" placeholder="Enter sugar range">
			    </div>
			    <p class="help-block">Ex. <100</p>
			 </div>
		</form>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/test.js"></script>

	</body>
</html>