html {
}

body {
	position: relative;
	width: 100%;
}

#head-shadow {
	background-color: rgba(255, 255, 255, .75);
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100%;
	display: block;
	background-size: cover;
	z-index: -1;
}
#header-background {
	background-image: url("/image/sky.gif");
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(3px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	display: block;
	background-size: cover;
	z-index: -2;
}


.top-buffer {
	margin-top: 10px;
}

.table-nonfluid {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
#data td {
	width: 250px;
}

.btn {
	width: 100px !important;
}
.btn-primary {
	width: 70px !important;
}
#left {
	margin-top: 100px;
	margin-left: 50px;
float: left;
}
#right {
	margin-top: 100px;
	margin-right: 50px;
float: right;
}
#new-search {
	margin-bottom: 5px;
}