html {
	overflow: hidden;
}
.top-buffer {
	margin-top: 10px;
}

.table-nonfluid {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
#data td {
	width: 250px;
}

.btn {
	width: 100px !important;
}
.btn-primary {
	width: 70px !important;
}
#left {
	float: left;
}
#right {
	float: right;
}